input {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  margin: 0px 2.5px 0px 5px;
}

button {
  color: white;
  background-color: teal;
  border-radius: 7px;
  width: 200px;
  height: 30px;
}

button:hover {
  color: teal;
  background-color: white;
  cursor: pointer;
}
